header {
    background-color: #dbdbdb; /* Gris par défaut */
    padding: 20px;
    color: white;
    text-align: center;
    transition: background-color 0.5s ease; /* Transition de couleur en douceur */
}

body{
    display: flex;
    flex-direction: column;
}

div h1{
    padding:20px;
    color: white;
    font-size: 16px;
    text-align:center;
}

div p{
    padding:20px;
    background-color: darkgrey;
    border-radius:5px;
    font-size:12px;
}

.img1{
    border-radius:5px;
    height: 55%;
    width: 35%;
    display: flex;
    margin: 0 auto;
}

@media screen and (max-width: 800px){
    body{
        display: flex;
        flex-direction: column;
    }

    header{
        display: flex;
        flex-direction: row;

    }
}