body {
    margin: 0;
}
header {
    background-color: #095228;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#jeux1{
    display: flex;
    flex-direction: row;
    width: 75%;
}
#jeux1 div {
    display: flex;
    margin: auto;
    padding: 10px ;
}
body>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol {
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
ol>li{
    margin: 0 20px
}

#reponssssse{
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 5%;
}
#reponssssse>div {
    padding: 10%;
}
input:checked + label>img{
    filter: hue-rotate(-120deg);
}
#reponssssse img{
    width: 100px;
}
#pausse{
    display: none;
}
header a{
    text-decoration: none;
    color: white;
}
a:hover{
    border: solid 2px white;
}
svg:hover {
    filter: hue-rotate(-160deg);
}
article{
    padding: 60px;
}
#btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: solid 2px gray;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
#btn:hover {
    background-color: #095228;
    color: #ecf0f1;
}
