.actus{
    display: flex;
    flex-direction: row;
}

.actus > div >a{
    position: absolute;
    bottom: 15%;
    text-align:center ;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: green;
    border: none;
}
.actus > div >a:hover{
    color: darkgreen;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #00BAF0;
    background: linear-gradient(to left, #62f445, #259121);
    color: #FFF;
    height: 3rem;
    padding: 1em;
    position: relative; /* Ajoutez cette ligne */
    margin-bottom: 1%;
    font-weight: bold;
}
html, body{
    margin: 0;
    background-color: #f1f1f1;
}
header > div > a{
    text-decoration: none;
    position: absolute;
    top:40%;
    color: white;
}
header > div{
    height: 100%;
}

footer{
    color: white;
    background-color: rgba(0, 0, 0, 0.71);
    padding: 50px 50px 10px 50px;
}
footer:hover{
    background-color: rgb(68, 68, 68);
}
.footer .imgfooter {
    margin: 0 5px; /* Adjust the margin as needed */
}

.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #cecece; /* Couleur de fond verte */
    border-radius: 5px;
    margin-left: 35px;
    transition: background-color 0.3s ease; /* Transition fluide de la couleur de fond */
}

.button:hover {
    background-color: #006600; /* Couleur de fond verte plus foncée au survol */
}

.lign{
    background-color: #dbdbdb;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    flex: 1;
}
.container {
    max-width: 1200px; /* Ajustez selon vos besoins */
    margin: 0 auto; /* Centre le contenu dans la page */
    overflow: hidden; /* Clearfix pour contenir les images flottantes */
}

.left-image {
    float: left;
    margin-right: 20px; /* Ajoutez une marge entre les images si nécessaire */
    margin-left: 100px;
}

.textLeft{
    margin-right:500px;
    text-align: justify;
}

.textRight{
    margin-left: 500px;
    text-align: justify;
    background-color: lightblue;
}

#imageMid{
    margin-top: 100px;
    height: 500px;
    width: 500px;
}

.right-image {
    float: right;
    margin-right:100px;

}

h2{
    text-align: center;
    padding: 20px;
    size:10px;
}

article{
    border-radius: 5px;
    border: black;
    border-style: solid;
    justify-content: space-between;
}

h3{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    margin-left:120px;
    margin-right: 120px;
    background-color: #f1f1f1;
}

.enLigne{
    display: flex;
    flex-direction: row;
}

.divh1{
    padding:20px;
    color: #000000;
    text-align:center;
}

div p {
    padding:20px;
    border-radius:5px;
    margin-right: 15px;
    margin-left: 15px;
    display:flex;
    background-color: #cecece;
}

.mid{
    padding:20px;
    border-radius:5px;
    margin-right: 15px;
    margin-left: 15px;
    display:flex;
}

.mid2{
    padding:20px;
    display:flex;
    height: 225px;
}

.img{
    border-radius:5px;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    height: 55%;
    width: 35%;
}


@media screen and (max-width: 800px){
    body{
        display: flex;
        flex-direction: column;
    }

    header{
        padding: 20px;
        text-align: center;
    }
}
